<footer class="footer">
  <div class="footer__inner">

    <div class="footer__left">
      <a class="footer__legal" routerLink="/legal-notice">
        {{ 'footer.legalNotice' | translate }}
      </a>
        <div class="footer__copyright">
          © Jesse Lee Wauer {{ currentYear }}
        </div>
    </div>

    <div class="footer__center">
      <img src="assets/img/footer/name-logo.png" alt="Logo" class="footer__logo"/>
    </div>

    <div class="footer__right">
      <a class="footer__icon" href="https://github.com/Jesse-lee-coder" target="_blank" rel="noopener">  
        <img src="assets/img/footer/github-icon.png" alt="GitHub" />
      </a>

      <a class="footer__icon" href="mailto:wauer.j@hotmail.de" target="_blank" rel="noopener"> 
        <img src="assets/img/footer/email-icon.png" alt="E-Mail" />
      </a>

      <a class="footer__icon" href="https://www.linkedin.com/in/jesse-lee-wauer-5aa0483a8/" target="_blank" rel="noopener"> 
        <img src="assets/img/footer/linkedin-icon.png" alt="LinkedIn" />
      </a>
    </div>

  </div>
</footer>
