<div class="navbar-component">
  <div class="navbar-content">

    <!-- Logo -->
    <div class="navbar-component-logo">
      <img src="assets/img/herosection/name-logo.png" alt="logo">
    </div>

    <!-- Navigation Links -->
    <div class="navbar">
      <a href="#whyme"> <!-- Hinzufügen --> {{ 'navbar.whyMe' | translate }} </a>
      <a href="javascript:void(0)"> <!-- Hinzufügen --> {{ 'navbar.skills' | translate }} </a>
      <a href="javascript:void(0)"> <!-- Hinzufügen --> {{ 'navbar.projects' | translate }} </a>
      <a href="javascript:void(0)"> <!-- Hinzufügen --> {{ 'navbar.contact' | translate }} </a>
    </div>

    <!-- Language Switch -->
    <div class="navbar-component-switchlanguage">
      <button
        [class.active-lang]="currentLang === 'de'" (click)="toggleTranslation('de')"> DE
      </button>

      <button
        [class.active-lang]="currentLang === 'en'" (click)="toggleTranslation('en')"> EN
      </button>
    </div>

  </div>
</div>
