<div class="navbar-component">
  <div class="navbar-content">

    <div class="navbar-component-logo">
      <img src="assets/img/hero/name-logo.png" alt="logo">
    </div>

    <div class="navbar">
      <a href="#whyme"> {{ 'navbar.whyMe' | translate }} </a>
      <a href="#skills"> {{ 'navbar.skills' | translate }} </a>
      <a href="#projects"> {{ 'navbar.projects' | translate }} </a>
      <a href="#contact"> {{ 'navbar.contact' | translate }} </a>
    </div>

    <div class="navbar-component-switchlanguage">
      <button [class.active-lang]="currentLang === 'de'" (click)="toggleTranslation('de')"> DE </button>

      <button [class.active-lang]="currentLang === 'en'" (click)="toggleTranslation('en')"> EN </button>
    </div>

  </div>
</div>

<app-navbar-menu></app-navbar-menu>