<section class="hero-wrapper" id="hero-section">

  <div class="hero-container" id="hero-name">

    <!-- Portrait -->
    <div class="hero-portrait">
      <img src="assets/img/hero/profilepicture.png" alt="Portrait">
    </div>

    <!-- Name & Rolle -->
    <div class="hero-name">
      <img src="assets/img/hero/name-logo.png" alt="Logo">

      <h1>{{ 'heroSection.name' | translate }}</h1>
      <h2>{{ 'heroSection.role' | translate }}</h2>

      <a href="#contact"> <!--Noch contact section einbauen-->
        <img id="button-arrow" class="hero-arrow" src="assets/img/hero/arrow-down.png" alt="Arrow Scroll down">
      </a>
    </div>

    <!-- Social Links -->
    <div class="hero-socials">
      <a href="mailto:wauer.j@hotmail.de" target="_blank">
        <img src="assets/img/hero/email-icon.png" alt="Email Button">
      </a>

      <a href="https://github.com/Jesse-lee-coder" target="_blank">
        <img src="assets/img/hero/github-icon.png" alt="GitHub Button">
      </a>

      <a href="https://www.linkedin.com/in/jesse-lee-wauer-5aa0483a8/" target="_blank">
        <img src="assets/img/hero/linkedin-icon.png" alt="LinkedIn Button">
      </a>
    </div> 

  </div>

</section>
