<section class="my-skills-section" id="skills">

  <div class="my-skills-section__title">
    <h3>{{ 'mySkills.header' | translate }}</h3>
  </div>

  <div class="my-skills-section__content">

    <div class="my-skills-section__grid">
      @for (item of skills; track $index) {
        <div class="my-skills-section__item">
          <img [src]="item.src" [alt]="item.label">
          <span>{{ item.label }}</span>
        </div>
      }
    </div>

    <div class="my-skills-section__learning">

      <div class="my-skills-section__circle my-skills-section__circle--desktop">

        <p class="learning-title">
          {{ 'mySkills.currentlyLearning.title' | translate }}
        </p>

        <div class="learning-icons">
          @for (item of learning; track $index) {
            <div class="learning-item">
              <img [src]="item.src" [alt]="item.label">
              <span>{{ item.label }}</span>
            </div>
          }
        </div>

        <p class="learning-text">
          {{ 'mySkills.currentlyLearning.goal' | translate }}
        </p>

      </div>

      <div class="learning-mobile">

        <p class="learning-title learning-title--mobile">
          {{ 'mySkills.currentlyLearning.title' | translate }}
        </p>

        <div class="learning-mobile__row">

          <p class="learning-text learning-text--mobile">
            {{ 'mySkills.currentlyLearning.goal' | translate }}
          </p>

          <div class="my-skills-section__circle my-skills-section__circle--mobile">
            <div class="learning-icons">
              @for (item of learning; track $index) {
                <div class="learning-item">
                  <img [src]="item.src" [alt]="item.label">
                  <span>{{ item.label }}</span>
                </div>
              }
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>

  <div class="my-skills-section__cta mobile-only">
    <a [routerLink]="['/']" fragment="contact">
      <button>
        {{ 'whyMe.contactButton' | translate }}
      </button>
    </a>
  </div>

</section>

