<section class="why-me-section" id="whyme">

  <div class="why-me-title">
    <h3>{{ 'whyMe.header' | translate }}</h3>
  </div>

  <div class="why-me-content">

    
    <div class="why-me-info">
 
    <div class="why-me-item">
        <img src="assets/img/whyme/location-icon.png" alt="location icon">
        <span>{{ 'whyMe.location' | translate }}</span>
    </div>

    <div class="why-me-item">
        <img src="assets/img/whyme/remote-icon.png" alt="remote icon">
        <span>{{ 'whyMe.remote' | translate }}</span>
    </div>

    </div>


    <div class="why-me-text">
      <span>{{ 'whyMe.text' | translate }}</span>

      <div class="why-me-contact desktop-only">
        <a [routerLink]="['/']" fragment="contact">
          <button>
            {{ 'whyMe.contactButton' | translate }}
          </button>
        </a>
      </div>
    </div>

  </div>

</section>
